.container{
    display:grid;

    grid-template-columns:200px 1fr 1fr;
    grid-template-rows:80px 300px 80px;

    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";

    gap:10px;
}

.header{
    grid-area:header;
    background:red;
}

.sidebar{
    grid-area:sidebar;
    background:blue;
}

.content{
    grid-area:content;
    background:green;
}

.footer{
    grid-area:footer;
    background:black;
    color:white;
}