*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body {

    background: rgb(203, 211, 205);
}

.top {
    height: 45px;
    background: #6e6d6d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 15px;
    align-items: center;
    gap: 12px;
}

.skip {
    display: flex;
    padding-left: 500px;
    font-size: 15px;
}

.font-box {
  margin-bottom: 30px;
    padding-left: 90px;
    display: flex;
    gap: 6px;
}

.btn,
.dark,
.light {

    width: 30px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5a53a;
    font-size: 16px;
    margin-top: 30px;
}

.dark {

    background: #180c0c;
    border: none;

}

.light {
     display: flex;
    background: white;
    color: #333;
    border: none;

}

.icons {
    height: 30px;
    display: flex;
    gap: 10px;
}


.search {
    display: flex;
    height: 35px;
}

.search input {
    width: 160px;
    background: #555;
    border: 1px solid orange;
    color: white;
    padding: 5px;
    font-size: 15px;

}

.search input::placeholder {

    color: white;
}

.search button {
    width: 35px;
    border: none;
    background: #555;
    color: white;
    font-size: 18px;

}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.language select {
    display: flex;
    width: 120px;
    height: 30px;
    font-size: 16px;
    padding: 2px;

}
.k{
    height:95px;
background:#f58220;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 25px;

font-weight:bold;
}
.k home{
    margin-top: 10px;
}
/* Hero */
.hero{
    height:450px;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:10px;
}

/* News */
.news-section{
    padding:60px 8px;
    background:#fff;
    text-align:center;
}

.news-section h2{
    font-size:40px;
    margin-bottom:40px;
}

.news-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.news-card{
    display:flex;
    background:#fafafa;
    padding:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.news-card img{
    width:180px;
    height:120px;
    object-fit:cover;
}

.news-content{
    padding-left:15px;
    text-align:left;
}

.news-content h4{
    margin-bottom:10px;
}

.bt{
   color: #ddd;
    margin-top:30px;
    background:#1669a8;
    border:none;
    padding:12px 25px;
    cursor:pointer;
}
.gallery-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
.gallery-card button{
    margin-bottom: 30px;
}

.profile-container{

    width:100%;

    min-height:700px;

    display:flex;

}



/* LEFT */

.left-section{

    flex:1;

    padding:60px 45px;

    background:#eee7a5;

}



.left-section h1{

    font-size:42px;

    margin-bottom:30px;

}



.left-section p{

    font-size:20px;

    line-height:1.6;

    color:#333;

}


button{

    background:#25a9e8;

    border:0;

    padding:15px 25px;

    font-size:18px;

    margin-top:35px;

}







/* CENTER */

.middle-section{

    width:380px;

    background:#805c5b;

    color:white;

}



.pm-image{

    height:260px;

    background:#eee;

    margin:30px 40px;

}


.pm-image img{

    width:100%;

    height:100%;

    object-fit:contain;

}



.know{

    text-align:center;

    padding:20px;

}


.know p{

    line-height:1.5;

}





.former{

    background:#333942;

    padding:30px;

    height:480px;

}


.former h1{

    font-size:30px;

}



.small-images{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-top:30px;

}



.small-images img{

    width:40px;

    height:40px;

    object-fit:cover;

}







/* RIGHT */

.right-section{

    flex:1;

    padding:60px 45px;

    background:#faedc9;

}


.right-section h1{

    font-size:42px;

    margin-bottom:30px;

}



.right-section p{

    font-size:20px;

    line-height:1.6;

    color:#333;

}

.container{
    background:#123b72;
    min-height:100vh;
    padding:50px 20px;
}

.heading{
    text-align:center;
    color:#fff;
    font-size:60px;
    font-weight:bold;
    margin-bottom:80px;
}

.content{
    display:flex;
    justify-content:center;
    gap:180px;
    flex-wrap:wrap;
}

.box{
    text-align:center;
    color:#fff;
    width:320px;
}

.box img{
    width:180px;
    height:auto;
    margin-bottom:25px;
}

.text{
    font-size:28px;
    line-height:1.2;
}

body{
    background:#3d4149;
}

.government-section{
    padding:40px 20px 60px;
}

.title{
    text-align:center;
    color:#fff;
    font-size:64px;
    font-weight:700;
    margin-bottom:35px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:0;
    max-width:1820px;
    margin:auto;
}

.card{
    height:200px;
    position:relative;
    background-size:cover;
    background-position:center;
    overflow:hidden;
    cursor:pointer;
}

.card::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.15);
}

.icon{
    position:absolute;
    top:12px;
    left:12px;
    width:32px;
    height:32px;
    border:2px solid #fff;
    border-radius:4px;
    color:#fff;
    font-size:22px;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:2;
}

.label{
    position:absolute;
    left:12px;
    bottom:12px;
    background:#000;
    color:#fff;
    font-size:18px;
    font-weight:700;
    padding:8px 14px;
    z-index:2;
}

/* Background Images */

.president{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/gov1.jpg");
}

.rajya{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/gov4.jpg");
}

.lok{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/lok-sabha.jpg");
}

.cabinet{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/cabinet-secretariat.jpg");
}

.mygov{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/gov6.jpg");
}

.directory{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/gov8.jpg");
}

.pib{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/gov5.jpg");
}

.portal{
    background-image:url("https://www.pmindia.gov.in/wp-content/themes/pmindia2015/images/our-gov/national-portal.jpg");
}
 .footer{
background:#24272b;
color:white;
display:flex;
justify-content:space-around;
padding:35px;
font-size:18px;
line-height:1.5;

} 