body {
    background: linear-gradient(to right, #00f5a0, #00d9f5);

}

.krishna {

    background: white;
    width: 300px;
    height: 700px;
    margin-left: 600px;

}


.kri img {
    display: flex;
    width: 300px;
}

.content {
    padding: 70px 25px 30px;
    text-align: center;

}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.job {
    color: red;
    margin-bottom: 20px;
}

.followers {
    color: blue;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background: #00ff8c;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 25px;
}

.description {
    font-size: 15px;
    color: rgb(181, 41, 41);
}