body {
    background: rgb(216, 195, 195);
    justify-content: center;
    display: flex;
}

.krishna {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.ab {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 30px;
    text-align: center;

}

.profile img {
    border-radius: 50px;
}

.aa {
    width: 70px;
    margin: 15px auto;
    padding: 6px;
    background: #a47741;
    border-radius: 5px;
    color: #333;
}

.name {
    font-weight: bold;
    margin-bottom: 10px;
}

.role {
    color: rgb(0, 26, 255);

}

.desc {
    margin-top: 20px;
    line-height: 1.8;
    color: #a47741;
}

.icons {

    display: flex;
    gap: 30px;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.message {
    margin: 10px;
    background: white;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.connect {
    margin: 10px;
    background: blue;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.chaitu {
    border-radius: 20px;
    background: darkgray;
    width: 400px;
    padding: 40px;

}

.cd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile2 img {
    border-radius: 50px;
}

.records {
    display: flex;
    gap: 40px;

}

.records p {
    color: rgb(40, 81, 92);
    font-size: 20px;
}

.records h2 {
    color: blueviolet;
    margin-bottom: 5px;
}

.desc2 h2 {
    color: goldenrod;
    margin-bottom: 10px;
}

.desc2 p {
    color: rgb(29, 91, 31);
    line-height: 1.5;
    margin-bottom: 10px;
}

.desc2 h3 {
    color: rgb(255, 120, 47);
    margin-bottom: 10px;

}