body {
    background: rgb(182, 189, 159);
    justify-content: center;
    height: 100px;
    display: flex;
}

.krishna {
    width: 750px;
    height: 360px;
    border-radius: 30px;
    justify-content: center;
    padding-top: 100px;

}

.card {

    background: #fff;
    border: 2px solid #82542d;
    border-radius: 20px;
    overflow: hidden;
}

.header {
    background: rgb(8, 126, 46);
    display: flex;
    justify-content: center;
    gap: 25px;
}

.opptyhub {
    font-size: 20px;
    font-weight: bold;


}

.chaitu {
    display: flex;
    padding: 40px;

}

.ab {
    border: 5px solid rgb(111, 99, 20);
    border-radius: 10px;
    
}


.cd{
    padding-left: 40px;
}
.cd p{
    font-size: 20px;
    margin-bottom: 20px;
}
.kc{
    
    font-weight: bold;
    justify-content: space-between;

}

.pk p{
    display:flex ;
    justify-content:center ;
    margin-left:200px ;
   

}
